html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; font-family: "Open Sans",Helvetica,Arial,"Microsoft YaHei",sans-serif;}
body{margin:0; height: 100%; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;*display:inline;*zoom:1;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden]{display:none}
template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1.5em 40px}
dfn{font-style:italic}
h1{font-size:2em;line-height:1.5em;margin-top:0.75em;margin-bottom:0.75em}
h2{font-size:1.5em;line-height:2em;margin-top:1em;margin-bottom:1em}
h3{font-size:1.17em;line-height:1.28205em;margin-top:1.28205em;margin-bottom:1.28205em}
h4{font-size:1em;line-height:1.5em;margin-top:1.5em;margin-bottom:1.5em}
h5{font-size:0.83em;line-height:1.80723em;margin-top:1.80723em;margin-bottom:1.80723em}
h6{font-size:0.67em;line-height:2.23881em;margin-top:2.23881em;margin-bottom:2.23881em}
mark{background:#ff0;color:#000}
p,pre{margin:0 0 15px 0; font-weight: normal;}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:.5em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:1.5em 40px}
hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}

table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}

label{display:block;margin-bottom:5px}
tr{border-bottom:1px solid #d0d0d0}
tr:nth-child(even){background-color:#f7f7f7}
td{padding:7px;border-right:1px solid #d0d0d0}
td:last-child{border-right:0}
th{background-color:#f7f7f7;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0}
th:last-child{border-right:0}
@media (min-width: 43.75em){body{font-size:1em;line-height:1.375}}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{margin:.5rem 0 .5rem; font-weight: normal; font-family: "Microsoft YaHei","Open Sans",Helvetica,Arial,sans-serif;}
h1,.h1{font-size:2em;line-height:1.25}
@media (min-width: 43.75em){h1,.h1{font-size:2.5em;line-height:1.125}}
@media (min-width: 56.25em){h1,.h1{font-size:3em;line-height:1.05}}
h2,.h2{font-size:1.625em;line-height:1.15384615}
@media (min-width: 43.75em){h2,.h2{font-size:2em;line-height:1.25}}
@media (min-width: 56.25em){h2,.h2{font-size:2.25em;line-height:1.25}}
h3,.h3{font-size:1.375em;line-height:1.13636364}
@media (min-width: 43.75em){h3,.h3{font-size:1.5em;line-height:1.25}}
@media (min-width: 56.25em){h3,.h3{font-size:1.75em;line-height:1.25}}
h4,.h4{font-size:1.125em;line-height:1.11111111}
@media (min-width: 43.75em){h4,.h4{line-height:1.22222222}}
blockquote{font-size:1.25em;line-height:1.25;padding:1% 2%}
@media (min-width: 43.75em){blockquote{font-size:1.25em;line-height:1.25;padding:1% 2%}}

.post ul ul,.post ul ol,.post ol ul,.post ol ol{margin:0}
.pageTitle{margin:2rem auto 1em;text-align:center}
.content{padding-top:1em}
.header{background-color:seagreen;background-image:url("../img/touring.jpg");background-size:cover;background-position:center center;color:white;padding:0;height:3em}
.header .container{padding:0;max-width:100%;margin-left:auto;margin-right:auto}
.header .container:after{content:" ";display:block;clear:both}
.header h1{margin:0;float:left;padding-left:2rem;font-size:1em;line-height:3em;font-family:"Open Sans",Helvetica,Arial,sans-serif;font-weight:800;text-transform:uppercase}
.header h1 a{color:white;text-decoration:none}
.post .postTitle{text-align:center;margin-top:2rem;margin-bottom:1rem}
.post blockquote{clear:both;margin:2.5em 0;padding:0;line-height:1.8;position:relative}
.post blockquote:before{content:"";position:absolute;top:-1.25em;background:seagreen;display:block;height:2px;width:150px;left:calc(50% - 75px)}
.post blockquote:after{content:"";position:absolute;bottom:-1.25em;background:seagreen;display:block;height:2px;width:150px;left:calc(50% - 75px)}
.post .meta{text-align:center;color:gray;font-family:"Open Sans",Helvetica,Arial,sans-serif;font-weight:300}
.post figure{margin:3rem 0}
.post figure figcaption{text-align:center;font-size:.938em;font-style:italic;color:#5e5e5e}
.post figure img{margin:0 auto;display:block}.post img{margin-bottom:2rem}
.post .highlight{clear:both;margin-bottom:2rem}
.post .dropcap{color:#2e8b57;margin-right:.45rem}
.post .featuredImage{position:relative;margin-top:2rem}
.post .featuredImage img{margin-bottom:0}

.post-link { color: #159D82; }
.post-link:hover { color: #1ABC9C; text-decoration: none; }
#post-link-trans { transition: all 0.3s ease-in-out; }

.postNav{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;overflow:hidden}
.postNav .prev,.postNav .next{display:block;width:100%;height:5rem;overflow:hidden;position:relative;font-family:"Open Sans",Helvetica,Arial,sans-serif;font-weight:800;font-size:.938em;text-transform:uppercase;text-align:center}
.postNav .prev img,.postNav .next img{z-index:1;display:block;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);left:0;width:100%; .height:auto}
.postNav .prev span,.postNav .next span{z-index:10;position:relative;padding:.5rem;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:100%;line-height:1.4}
.postNav .prev.image,.postNav .next.image{text-decoration:none;color:white;text-shadow:1px 1px 3px rgba(0,0,0,0.8);padding:0 .5rem;position:relative;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.postNav .prev:hover.image,.postNav .next:hover.image{opacity:.8}
.postNav .prev span{left:0}
.postNav .next span{right:0}


.posts li{margin-bottom:.5rem;position:relative;}
.posts li:before{position:absolute;bottom:-2rem;left:0;background:#e6e6e6;height:2px;width:60px}
.posts li a{text-decoration:none}
.posts li a:hover{text-decoration:underline}
.posts li .date{color:gray;font-family:"Open Sans",Helvetica,Arial,sans-serif;font-weight:300;font-size:.8em}
.posts li h3{margin:0 0 .5em}
@media only screen and (min-width: 800px){
	.content{padding-top:0;position:relative;z-index:1}
	.content:after{z-index:-1;background:white;content:"";display:block;width:100%;height:5em;position:absolute;top:-2em;left:0;-webkit-transform:skewY(-2deg);-ms-transform:skewY(-2deg);transform:skewY(-2deg);-webkit-transform-origin:bottom left;-ms-transform-origin:bottom left;transform-origin:bottom left}
	.post h1,.post h2,.post h3,.post h4,.post h5,.post h6,.post p,.post ul,.post ol,.post dl,.post .pageTitle{width:74.46809%;float:left;margin-right:2.12766%;float:none;margin:0 auto 2rem}
	.post h1,.post .h1,.post h2,.post .h2,.post h3,.post .h3,.post h4,.post .h4,.post h5,.post .h5,.post h6,.post .h6{margin:1rem auto}
	.post .pageTitle{margin:2rem auto 1em}
	.post .featuredImage{position:relative;margin-top:2rem}
	.post .featuredImage:before{background:white;content:"";display:block;width:100%;height:4em;position:absolute;top:-2em;left:0;-webkit-transform:skewY(-2deg);-ms-transform:skewY(-2deg);transform:skewY(-2deg);-webkit-transform-origin:bottom left;-ms-transform-origin:bottom left;transform-origin:bottom left}
	.postNav .prev,.postNav .next{width:50%}
	.postNav .prev{float:left;text-align:left}
	.postNav .next{text-align:right;float:right}

	.contactContent{width:48.93617%;float:left;margin-right:2.12766%}
	#contact form{width:48.93617%;float:right;margin-right:0}
}
