---
layout: default
---
<div class="home">
  <article class="home-feature-image" >
  <div style="background-image: url('{{ site.baseurl }}/{{ site.theme.place_holder_image }}')"/>
  <header style="background-image: url('{{ site.imageurl }}')">
    <p class="call-out-content"> {{ site.theme.header_text }} </p>
  </header>
  </article>

	<div class="posts">
	{% for post in paginator.posts %}
		{% include post_tags_category.html %}
		<div class="post-teaser">
		  <header>
		    <h1>
		      <a id="post-link-trans" class="post-link" href="{{ post.url | prepend: site.baseurl }}">
		        {{ post.title }}
		      </a>
		    </h1>
		    <p id="subtitletrans" class="subtitlecontainer">
		      <a class="subtitle">{{ post.date | date: "%Y年%m月%-d日" }}</a>
		      {% if post.author %} | <a class="subtitle" href="{{ site.baseurl }}/about/">{{ post.author }}</a>{% endif %}
		      {% if post.category and post.tags %} | <a class="subtitle">{{ category_content }}</a> <a class="subtitle">{{ tags_content }}</a>{% endif %}
		    </p>
		  </header>
		  <div class="excerpt">
		  {% assign num = post.content | number_of_words %}
		  {% if  num  < site.theme.visiblewords %}
		    {{ post.content }}
		  {% else %}
		    {{ post.content | truncatewords: site.theme.visiblewords }}
		    <p>
		    <a class="text" href="{{ post.url | prepend: site.baseurl }}">
		      {{ site.theme.str_continue_reading }}
		    </a>
		    </p>
		  {% endif %}
		  </div>
		</div>
		{% endfor %}
	</div>

	<div class="wp-pagenavi">
	    <span class='pages'>第 {{ paginator.page }} 页，共 {{ paginator.total_pages }} 页</span>

	    {% if paginator.previous_page %}
	    	<a class="previouspostslink" rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" > « </a>
	    {% endif %}

	      {% if paginator.page == 1 %}
	        <span class="current">1</span>
	      {% else %}
	        <a class="page larger" href="/">1</a>
	      {% endif %}
	   
	    {% for count in (2..paginator.total_pages) %}
	        {% if count == paginator.page %}
	          <span class="current">{{ count }}</span>
	        {% else %}
	          <a class="page larger" href="{{ site.baseurl }}/blog/page{{ count }}">{{ count }}</a>
	        {% endif %}
	    {% endfor %}

	    {% if paginator.next_page %}
	    	<a class="nextpostslink" rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" > » </a>
	    {% endif %}

	</div>
</div>