<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="zh-CN">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="zh-CN">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="zh-CN">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="zh-CN" class="js">
<!--<![endif]-->
  {% include head.html %}
	<body class="home blog et_pb_button_helper_class home-posts et_fixed_nav et_show_nav et_cover_background et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_right_sidebar chrome">
		<div id="page-container">
    		{% include header.html %}
    		<div id="et-main-area">
      			{{ content }}
    		</div> <!-- #et-main-area -->
		</div> <!-- #page-container -->
		{% include footer.html %}
    {% include script.html %}
  </body>
</html>
