---
layout: default
---
{% assign post = page %}
{% include post_tags_category.html %}

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">

<!--article {% if page.feature-img %}class="feature-image"{% endif %} >
  <div style="background-image: url('{{ site.baseurl }}/{{ page.feature-image }}')"/>
  <header style="background-image: url('{{ site.imageurl }}')"-->
    <h1 class="title">{{ page.title }}</h1>
    <p id="subtitletrans" class="subtitlecontainer">
    <a class="subtitle">{{ page.date | date: "%Y年%m月%-d日" }}</a>
    {% if page.author %} | <a class="subtitle" href="{{ site.baseurl }}/About/">{{ page.author }}</a>{% endif %}
	{% if post.category and post.tags %} | <a class="subtitle">{{ category_content }}</a> <a class="subtitle">{{ tags_content }}</a>{% endif %}
    </p>
  </header>
  <section class="post-content">
  {{ content }}
  </section>
  
</article>

<!-- Post navigation -->
{% if site.theme.post_navigation %}
<div id="post-nav">
    {% if page.previous.url %}
    <a id="prev-post" href="{{ site.baseurl }}{{ page.previous.url }}">
      <span class="page-title">{{ page.previous.title }}</span>
      <span class="nav-label">
        <i class="fa fa-chevron-left"></i> {{ site.theme.str_prev }}
      </span>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a id="next-post" href="{{ site.baseurl }}{{ page.next.url }}">
       <span class="page-title">{{ page.next.title }}</span>
       <span class="nav-label">
        {{ site.theme.str_next }} <i class="fa fa-chevron-right"></i>
       </span>
     </a>
    {% endif %}
</div>
{% endif %}

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
